---
Checks:
  -*,
  abseil-*,
  bugprone-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -modernize-use-trailing-return-type

CheckOptions:
  - key: misc-non-private-member-variables-in-classesIgnoreClassesWithAllMemberVariablesBeingPublic
  value: 1
